
	<header class="bg">
	<div class="jumbotron">
        <div class="container">
            <div class="row row-header">
                <div class="col-xs-12 col-sm-8">
                    <h1>Smart Home</h1>
                    <p style="padding:40px;"></p>
                    <p>A Smart Home Final Project... A Place For The Future</p>

            </div>
        </div>
	</div>
    </header>
	
	<div class="container">
		<div class="row row-content">
			<div class="col-xs-12 col-sm-4">
			    <div class="text-center safe">
					<span class="fa-stack fa-5x">
					  <i class="fa fa-circle-thin fa-stack-2x"></i>
					  <i class="fa fa-lock fa-stack-1x"></i>
					</span>
				</div>
				<h3>Safety</h3>
				<div class="info">
					<p>Feel safe with additional services such as remote surveillance of security cameras over the Internet, or central locking of all perimeter doors and windows with alarms.</p>
				</div>
			</div>
			<div class="col-xs-12 col-sm-4">
				<div class="text-center comf">
					<span class="fa-stack fa-5x">
					  <i class="fa fa-circle-thin fa-stack-2x"></i>
					  <i class="fa fa-coffee fa-stack-1x"></i>
					</span>
				</div>
				<h3>Comfortable</h3>
				<div class="info">
					<p>Enjoy a comfortable and inviting home that delivers energy-efficient climate control, convenient management of lights, and enables easy communication for your family.</p>
				</div>
			</div>
			<div class="col-xs-12 col-sm-4">
				<div class="text-center enter">
					<span class="fa-stack fa-5x">
					  <i class="fa fa-circle-thin fa-stack-2x"></i>
					  <i class="fa fa-fire fa-stack-1x"></i>
					</span>
				</div>
				<h3>Entertainment</h3>
				<div class="info">
					<p>Simplify your entertainment experience and control it all with just one remote. Watch TV, access your movies, stream video, power up a game or enjoy your music library. </p>
				</div>
			</div>
		</div>
		
		<div class="row row-content">
			<h2>Find Us On:</h2>
			<br />
			<div class="col-xs-12 col-sm-4 text-center">
			<span class="fa-stack fa-5x">
				<i class="fa fa-circle-thin fa-stack-2x"></i>
				<i class="fa fa-facebook fa-stack-1x"></i>
			</span>
			<div class="col-xs-12 col-sm-6 col-sm-offset-3"><a class="btn btn-primary btn-block" ><i class="fa fa-facebook"></i> Facebook</a></div>
			</div>
            <div class="col-xs-12 col-sm-4 text-center">
			<span class="fa-stack fa-5x">
					  <i class="fa fa-circle-thin fa-stack-2x"></i>
					  <i class="fa fa-linkedin fa-stack-1x"></i>
					</span>
			<div class="col-xs-12 col-sm-6 col-sm-offset-3"><a class="btn btn-info btn-block" ><i class="fa fa-linkedin"></i> LinkedIn</a></div>
			</div>
            <div class="col-xs-12 col-sm-4 text-center">
			<span class="fa-stack fa-5x">
					  <i class="fa fa-circle-thin fa-stack-2x"></i>
					  <i class="fa fa-twitter fa-stack-1x"></i>
					</span>
			<div class="col-xs-12 col-sm-6 col-sm-offset-3"><a class="btn btn-primary btn-block" ><i class="fa fa-twitter"></i> Twitter</a></div>
			</div>
		</div>
	</div>
	
