<div style="padding:20px;"></div>
<div class="container">
	<h1>About Us</h1>
	<div style="padding:20px;"></div>
	<div class="row row-content">
	  <div class="col-xs-12 col-sm-8">
		<div class="media">
			<div class="media-left media-middle">
			<a href="#">
				<%= image_tag "room_1.png", alt: "photo", size:"150", class: "media-object img-circle" %>
			</a>
			</div>
			<div class="media-body">
				<h2 class="media-heading"> Project Supervisor: </h2>
				<h4>Dr. -----</h4>
				<p>
				 ---- -------------  ----------- ---- -------------  -----------
				 ---- -------------  ----------- ---- -------------  -----------
				 ---- -------------  ----------- ---- -------------  -----------
				</p>
			</div>
		
		</div>
	  </div>
	</div>
	<div class="row row-content">
	  <div class="col-xs-12 col-sm-8">
		<div class="media">
			
			<div class="media-body">
				<h2 class="media-heading"> Project Member: </h2>
				<h4>-----</h4>
				<p>
				 ---- -------------  ----------- ---- -------------  -----------
				 ---- -------------  ----------- ---- -------------  -----------
				 ---- -------------  ----------- ---- -------------  -----------
				</p>
			</div>
			<div class="media-right media-middle">
			<a href="#">
				<%= image_tag "room_2.png", alt: "photo", size:"150", class: "media-object img-circle" %>
			</a>
			</div>
		</div>
	  </div>
	</div>
	<div class="row row-content">
	  <div class="col-xs-12 col-sm-8">
		<div class="media">
			<div class="media-left media-middle">
			<a href="#">
				<%= image_tag "room_3.png", alt: "photo", size:"150", class: "media-object img-circle" %>
			</a>
			</div>
			<div class="media-body">
				<h2 class="media-heading"> Project Member: </h2>
				<h4>-----</h4>
				<p>
				 ---- -------------  ----------- ---- -------------  -----------
				 ---- -------------  ----------- ---- -------------  -----------
				 ---- -------------  ----------- ---- -------------  -----------
				</p>
			</div>
		
		</div>
	  </div>
	</div>
</div>
