<div class="container">
<h1>New Room</h1>
<div class="row">

<div class="col-xs-12 col-sm-4 col-sm-offset-4">
<%= render 'form' %>
</div>
</div>
<div style="padding:20px;"></div>
<%= link_to content_tag(:i, "", class: "fa fa-arrow-left fa-lg"), rooms_path %>
<div style="padding:30px;"></div>
</div>
